<div class="pull-right">
<button ng-click="editPost()"  style="margin:10px" type="button" class="btn  btn-info" data-toggle="modal" style="position">
<span class="glyphicon glyphicon-pencil"></span>
	</button>
</div>

<div class="pull-left">
<button ng-click="goToList()"  style="margin:10px" type="button" class="btn " data-toggle="modal" style="position">
<span class="glyphicon glyphicon-th-list"></span>
	</button>
</div>

<div style="padding:50px">
<div align="center" style="width:60%">
	<h1>{{post.title}}</h1><br/>
	{{post.description}}
</div>


<div align="center" class="show-image" ng-repeat="s3m in s3Medias">
	<a fancybox data-fancybox-group="gallery" class="fancybox" href="{{s3m.url}}">
		<img  style="max-height:100px;float:left;" class="img-rounded img-responsive img-thumbnail" src="{{s3m.thumbUrl}}"/>
	</a>
</div>



</div>

<div style="clear:both"></div>
<br/><br/>



