<div class="pull-right">
<button  style="margin:10px" type="button" class="btn btn-danger " data-toggle="modal" data-target="#modalConfirmDelete" style="position">
<span class="glyphicon glyphicon-trash"></span>
	</button>
</div>

title:<br/>
<input type="text" ng-model="post.title"/>
<br/><br/>
Description:<br/>
<textarea ng-model="post.description"></textarea>
<br/><br/>
Photos:
<br/>


    <div style="height:150px;width:60%" ngf-drop ngf-select ng-model="files" class="drop-box" 
        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
        accept="image/*">Drop or click to upload images/videos</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>


</div>
</div>
<br/><br/>
<div ng-repeat="s3m in s3Medias">
    <img  style="max-height:100px;float:left;" class="img-rounded img-responsive img-thumbnail" src="{{s3m}}"/>   
</div>
<div style="clear:both"</div>
<br/><br/>
<button ng-click="save()">Save</button>

<br/><br/>
<a href="/#posts">Posts list</a>

<!-- Modal -->
<div id="modalConfirmDelete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmer la suppression ?</h4>
      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button " class="btn btn-danger btn-default" data-dismiss="modal" ng-click="delete()" >Supprimer</button>
      </div>
    </div>

  </div>
</div>
